<div class="container">
<header>
  <h1>Weather for <%= @city.capitalize %></h1>
</header>
<section class="current">
  
  <p>The climate in  <%= @city.capitalize %> is <%= @weather %> with the temperature at <%= @current_temp %>°C with a relative humidity of <%= @relative_humidity %>. </p>
  <section class="forecasting">
  <h3 class="clear">Forecasting:</h3>
  <% @forecast_array.each do |low,high| %>
    <div class="item">
     
      <br />
      <b>High</b> <%= low %>°C
      <br>
      <b>Low</b> <%= high %>°C
    </div>
  <% end %>
  <div class="clear"></div>
</section>
</section>

